<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>{{ course.title }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url('/426sws/') }}" />
    <link
      rel="stylesheet"
      href="{{ '/css/style.css' | url('/426sws/') }}" />
  </head>
  <body>
    <header>
      <nav>
        <a
          href="{{ '/' | url('/426sws/') }}"
          class="site-title">
          {{ course.title }}
        </a>
        {% if semester %}
          /
          <a
            href="{{ page.url | url('/426sws/') }}"
            class="site-title">
            {{ semester }}
          </a>
        {% endif %}
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>&copy; 2026 COMPSCI 426</p>
    </footer>
  </body>
</html>
