---
layout: layouts/base.njk
---
<nav class="prj-nav">
  {% for item in collections.prjPages %}
    {% if item.data.navTitle %}
      <a href="{{ item.url | url }}"{% if item.url == page.url %} class="active"{% endif %}>{{ item.data.navTitle }}</a>
    {% endif %}
  {% endfor %}
</nav>
{{ content | safe }}
